@model JobPostDetailsViewModel
@using PharmacyJobPlatform.Domain.Enums

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-body">

            <h3>@Model.Title</h3>


            @if(Model.JobType==JobType.Permanent)
            {
                <span class="badge bg-success">
                        Kalıcı
                </span>
            }
            else
            {
                <span class="badge bg-warning">
                    Günlük
                </span>
            }


            <hr />

            <p>@Model.Description</p>

            <p>
                <strong>Adres:</strong><br />
                @Model.City / @Model.District<br />
                @Model.Neighborhood
            </p>

            @if (Model.JobType == JobType.Daily)
            {
                <p><strong>Günlük Ücret:</strong> @Model.DailyWage ₺</p>
                <p><strong>Tarih:</strong> @Model.WorkDate?.ToString("dd.MM.yyyy")</p>
            }
            else
            {
                <p><strong>Aylık Maaş:</strong> @Model.MonthlySalary ₺</p>
            }

            <div class="d-flex justify-content-between align-items-center mt-4">
                <a asp-action="Index" class="btn btn-secondary">⬅ Geri</a>

                @if (Model.AlreadyApplied)
                {
                    <span class="badge bg-secondary">Başvuruldu</span>
                }
                else
                {
                    <form asp-action="Apply" method="post">
                        <input type="hidden" name="jobPostId" value="@Model.Id" />
                        <button class="btn btn-success">Başvur</button>
                    </form>
                }
            </div>
        </div>
    </div>
</div>
